.login-logo {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.primary-blue {
  color: #1976d2 !important;
}

.btn-primary-blue {
  background-color: #1976d2 !important;
  border-color: #1976d2 !important;
  color: #fff !important;
}
